/*-------------------------------------------------------------------------Imports-------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');


/*----------------------------------------------------------------------base styles----------------------------------------------------------------------*/
* {
  margin: 0;
  font-family: "Archivo Black";
  color: rgb(200, 250, 250);
  background: rgb(0, 10, 25);
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}


/* -----------------------------------------------------------------------Home----------------------------------------------------------------------- */
.home h1 {
  padding-right: 525px;
  position: relative;
  padding-top: 200px;
  text-align: center;
  color: rgb(200, 250, 250);;
}

.typeScroll {
  padding-right: 525px;
  display: inline-block;
  color: rgb(255, 190, 200);
  
}

.home p {
  position: relative;
  text-align: center;
  color:rgb(255, 225, 125)
}

/* ---------------------------Navbar Home------------------------------- */
.home .navbar {
  padding-top: 20px;
  padding-left: 75px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  background: none;
}

.home .navbar h1{
  display: none;
}

.home .navbar a {
  margin: 20px;
  background-color: rgb(0, 10, 25);
}

.home .navbar a:nth-of-type(1):after
{
  opacity: 1;
  width: 100%;
}

.home .navbar a:nth-of-type(1)
{
  color: rgb(250, 200, 200);
}

.home .navbar a::after{
  content: ''; 
  height: 3px;
  width: 0%;
  background: rgb(255, 225, 125);
  position: absolute;
  left: 0;
  bottom: -4; 
  opacity: 0;
  transition: all 0.6s;
  pointer-events: none;
}


/* ----------------------------------------------------------------About------------------------------------------------------------ */
.About h2 {
  font-family: "Afacad Flux", sans-serif;
  position: relative;
  margin: 40px auto;
  max-width: 850px;
  line-height: 1.6;
  font-size: 24px;
  padding: 0 10px
  
}

.About {
  
  font-family: "Afacad Flux", sans-serif;
  position: relative;
  margin: 40px auto;
  max-width: 850px;
  line-height: 1.6;
  font-size: 24px;
  padding: 0 10px
}

.About img {
  margin: 20px auto;
  border-radius: 25px;
  max-width: 400px;
}

.About h2::after{
  content: ''; 
  height: 3px;
  width: 100%;
  background: rgb(255, 225, 125);
  position: absolute;
  left: 0;
  bottom: 0; 
  transition: all 0.6s;
  pointer-events: none;
}

/* -------------------------------------------------------------Education------------------------------------------------------------ */
.Education h2 {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 24px;
  padding: 0 10px
}

/* -------------------------------------------------------------Experience------------------------------------------------------------- */
.Experience h2 {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 24px;
  padding: 0 10px
}

/* -------------------------------------------------------------Projects------------------------------------------------------------- */
.Projects h2 {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 24px;
  padding: 0 10px
}

/* ----------------------------------------------------------------Skills------------------------------------------------------------- */
.Skills h2 {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 24px;
  padding: 0 10px
}

/* ------------------------------------------------------------------Linkbar------------------------------------------------------------- */
.linkbar {
  padding: 20px;
  padding-left: 35px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.socialLinks {
  display: flex;
  align-items: center;
}

.socialLinks img {
  width: 35px; 
  height: 35px; 
  margin: 0 10px; 
  border-radius: 10px;
  background: rgb(200, 250, 250); 
  transition: transform 0.3s ease;
  overflow: hidden;
  position: relative;
}

.socialLinks img:hover{
  transform: translateY(-10px);
  background: rgb(255, 190, 200); 
  
}


/* ----------------------------------------------------------------------Navbar------------------------------------------------------------- */
.navbar {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  margin: 0;
  padding: 25px 75px 25px 250px;
  width: 100%;
  right: 0;
  background-color: rgb(20, 30, 45);
}

.navbar h1 {
  padding-right: 100px;
  font-size: 35px;
  background: transparent;
}

.navbar a {
  margin: 40px;
  color: rgb(200, 150, 255);
  text-decoration: none;
  position: relative;
}

.navbar a:hover,
.navbar a:focus {
  color: rgb(250, 200, 200);
}

.navbar a:hover::after,
.navbar a:focus::after {
  opacity: 1;
  width: 100%;
}

.navbar a::after{
  content: ''; 
  height: 4px;
  width: 0%;
  background: rgb(255, 225, 125);
  position: absolute;
  left: 0px;
  bottom: -5px; 
  opacity: 0;
  transition: all 0.6s;
  pointer-events: none;
}